.dock {
  appearance: none;
  outline: none;
  padding: 8px;
  border-radius: 999px;
  position: fixed;
  bottom: 36px;
  left: 50%;
  translate: -50%;
  width: fit-content;
  display: flex;
  gap: 8px;

  background: var(--blackA11);
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.2),
    0 2px 8px rgba(0, 0, 0, 0.08),
    inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.14);
  backdrop-filter: blur(50px);

  & > button {
    appearance: none;
    outline: none;
    border-radius: 999px;
    border: 0 !important;
    color: var(--text-color);
    padding: 8px;
    border-radius: 999px;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--grayA8);
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.dockMenu {
  background: var(--blackA11);
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.2),
    0 2px 8px rgba(0, 0, 0, 0.08),
    inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.14);
  backdrop-filter: blur(50px);
  padding: 8px;
  border-radius: 8px;
  color: var(--text-color);
  width: 256px;
  position: relative;
  bottom: 8px;
}

.dockMenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding: 8px;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  border-radius: 4px;

  &:hover {
    background-color: var(--grayA8);
  }

  &:hover {
    background-color: var(--grayA8);
  }
}
